body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #272727;
    padding-top: 78px;
}

/* ШАПКА */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #f4f4f4;
    padding-top: 14px;
    padding-bottom: 14px;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;  
}

.container {
    max-width: 1105px;
    margin: auto;
}

.nav {
    flex-basis: 80%;
}

.nav__link {
    color: #95989a;
    font-size: 12px;
    text-decoration: none;
    margin-right: 20px;
}

.logo {
    font-size: 16px;
    font-weight: 700;
    color: #95989a;
}

.login {
    color: #95989a;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

/* 1 БЛОК С ТАБАМИ И КАРТИНКОЙ */
.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px; 
}

.tabs-logo {
    color: #95989a;
    font-size: 20px;
}

.tabs-menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.tabs-menu__item {
    margin-left: 15px;
    position: relative;
}

.tabs-content {
    background: #f2f4ff url(Image_1.png) no-repeat bottom right 135px;
    border-radius: 10px;
    padding-top: 40px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 43px;
    margin-bottom: 65px;
}

.tabs-content__title {
    font-size: 36px;
}

.tabs-content__text {
    font-size: 18px;
    max-width: 320px;
    margin-bottom: 90px;
}

.button {
    border-radius: 6px;
    background-color: #fcde29;
    padding: 16px 33px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

/* 2 БЛОК */
.section-title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
}

.section__title {
    margin-bottom: 30px;
}

.card {
    background-color: #f2f4ff;  
    border-radius: 10px;
    padding: 23px;
    flex-basis: 26%;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
}

.card__text {
    max-width: 490px;
    font-size: 16px;
}

.card_bottom {
    background-image: url(Image_2.png);
    background-repeat: no-repeat;
    background-position: center right 80px;
    margin-bottom: 40px;
}

.section__card {
    margin-bottom: 40px;
}

.section-subtitle {
    display: block;
    text-align: center;
    font-style: 16px;
    margin-bottom: 32px;
}

.best__title {
    margin-bottom: 10px;
}

.card-block {
    flex-basis: 23%;
}

.best-card {
    background-color: #f2f4ff; 
    background-repeat: no-repeat; 
    border-radius: 10px;
    flex-basis: 20%;
    height: 220px;
}

.best-card-1{
    background-image: url(Image_3.png);
    background-position: bottom center; 
}

.best-card-2{
    background-image: url(Image_4.png);
    background-position: bottom left; 
}

.best-card-3{
    background-image: url(Image_6.png);
    background-position: bottom right; 
}

.best-card-4{
    background-image: url(Image_7.png);
    background-position: bottom center; 
}

.best-card__text {
    max-width: 200px;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}



